<div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Name</label>
                <input type="text" class="form-control" formControlName="title" #person_title [(ngModel)]="news.title" />
            </div>
            <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['title'].errors.required">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Content</label>
                <input type="content" class="form-control" formControlName="content" #business_name [(ngModel)]="news.email" />
            </div>
            <div *ngIf="angForm.controls['content'].invalid && (angForm.controls['content'].dirty || angForm.controls['content'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['content'].errors.required">
                    Content is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Number</label>
                <input type="number" class="form-control" formControlName="phone_number" #phone_number [(ngModel)]="news.phone_number" />
            </div>
            <div *ngIf="angForm.controls['phone_number'].invalid && (angForm.controls['phone_number'].dirty || angForm.controls['phone_number'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['phone_number'].errors.required">
                    Number is required.
                </div>
            </div>
            <div class="form-group">
                <button (click)="updateNews()" [disabled]="angForm.invalid" class="btn btn-primary">Update News</button>
            </div>
        </form>
    </div>
</div>
